<extend name="common:base" />
<block name="content">
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>班级管理 </h1>
                <button class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>新增班级</button>
            </div>
            <table class="table table-bordered text-center">
                <tr >
                <th>班级名称</th>
                <th>班号</th>
                <th>所属专业</th>
                <th>操作</th>
                </tr>
                <tr>
                    <td>nihao</td>
                    <td>nihao</td>
                    <td>nihao</td>
                    <td>
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>修改</button>
                        <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>删除</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

</block>

