<extend name="common:base" />

<block name="content">
    <div class="content-wrapper">
        <div class="container">
            <div class="page-header">
                <h1>添加老师信息</h1>
            </div>
            <div class="row">

                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="name" class="control-label">姓名:</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">初始密码:</label>
                        <input type="text" name="password" id="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="number" class="control-label">教工号:</label>
                        <input type="text" name="number" id="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="sex" class="control-label">性别:</label>
                        <select name="sex" id="sex" class="form-control">
                            <option value=""></option>
                            <option value="0">男</option>
                            <option value="1">女</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="zhicheng" class="control-label">职称:(多个以英文逗号隔开)</label>
                        <input type="text" name="zhicheng" id="zhicheng" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="job" class="control-label">职务:</label>
                        <input type="text" name="job" id="job" class="form-control">
                    </div>
                    <button class="btn btn-primary" onclick="javascript:add()"><span class="glyphicon glyphicon-plane"></span>确认添加</button>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="js">
    <script type="text/javascript">

        //ajax添加教师信息
        function add() {
            var name = $('#name').val();
            var password = $('#password').val();
            var number = $('#number').val();
            var sex = $('#sex').val();
            var zhicheng = $('#zhicheng').val();
            var job = $('#job').val();

            $.ajax({
                type: "POST",
                url: "/Admin/Teacher/ajax_addTeacher",
                data: {
                    name:name,
                    password:password,
                    number:number,
                    sex:sex,
                    zhicheng:zhicheng,
                    job:job,
                },
                success: function (data) {
                    if(data.error == 0) {
//                        console.log(number);
                        window.location = "/Admin/Teacher/index";
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
    </script>
</block>